body {
    background-color: #1a1a1d;
}

.mainWrapper {
    background-color: #011627;
    width: 100vw;
    height: 100vh;
    padding: 5em;
}

@media (max-width: 600px) {
    .mainWrapper {
        padding: 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
